<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<title>Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<script src="/assets/js/frontBurges.js"></script>
</head>

<body>
	<img src="/assets/img/cute_burger.jpeg" width="400px" id="cute_burger">
	{{{ body }}}
</body>

</html>