<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<script src="/assets/js/frontBurges.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>