{{!-- <h1>YumYum Burger!</h1>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="devoured" value="0"> Vacant
    </div>

    <button type="submit">Add Burger</button>
</form>
</main> --}}

<h1>YumYum Burger</h1>
<img src="/assets/img/cute_burger.jpeg" alt="Burger">
<br>
<br>
<div id="burgersList">
    <ol id="burgersMenu">
        <h2>Burgers</h2>
        {{#each burgers}}
        {{#unless devoured}}
        <li>{{burger_name}} <button class="devourBurger" data-newdevoured={{devoured}} data-id={{id}}>Devour it!</button></li>
        {{/unless}}
        {{/each}}
    </ol>
    <ol id="burgersDevoured">
        <h2>Devoured Burgers</h2>
        {{#each burgers}}
        {{#if devoured}}
        <li>{{burger_name}}</li>
        {{/if}}
        {{/each}}
    </ol>
</div>

<form class="createBurger">
    <input type="text" id="burgerText" name="burger_name">
    <br>
    <button type="submit">Add a Burger</button>
</form>