body {
  font-family: "Baloo Chettan", cursive;
  text-align: center;
  background-color: #fccb06;
  font-size: 24px;
}

h1,
h2 {
  color: rgb(89, 4, 4);
}

img {
  display: inline;
}

#burgersList {
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin: 10px;
}

#burgersMenu {
  float: left;
}

#burgersDevoured {
  float: right;
}

li {
  margin: 15px;
}

#burgersDevoured li {
  background-color: gray;
}

button {
  background-color: rgb(36, 186, 203);
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
}

button:hover {
  border-color: white;
  border-width: 6px;
  padding: 0;
}

#burgerText {
  width: 30%;
  height: 20px;
  margin-bottom: 10px;
}
